body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    line-height: 1.6;
    margin: 0%;
}
.copyright{
    font-size: 12px;
    color: rgb(144, 178, 178);
}
.copyright a {
    text-decoration: none;
    color: blue;
}
h1{
    color: rgb(133, 60, 133);
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 60px;
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    color: #333;
    border-radius: 5px;
    font-size: 18px;
}
#search-button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(16, 167, 16);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #f9f9f9;
    box-shadow:0 0 5px rgba(0,0,0,0.2) ;
    transition: 1s;
}
#search-button:hover{
    background-color: rgb(17, 120, 17);
}



.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.search-result{
    margin-bottom: 60px;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) ;
    overflow: hidden;
}.search-result img:hover{
    transform: scale(1.05);
}
.search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}
.search-result a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.search-result:hover a{
    background-color: rgba(0,0,0,0.1);
    transition: background-color .4s ease-in-out;
}
#show-more-button{
    background-color: rgb(8, 172, 232);
    display:block;
    color: #f9f9f9;
    outline: none;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color .4s ease-in-out;
}
#show-more-button:hover{
    background-color: rgb(29, 146, 189);
}




@media screen and (max-width:768px){
    .search-result{
        width: 45%;
    }
}

@media screen and (max-width:480px){
    .search-result{
        width: 100%;
    }
    form{
        flex-direction: column;
    }
    #search-input{
        margin-bottom: 20px;
        width: 80%;
    }
}